
.bg-logo {
    background-color: #155480;
}

.therm {
    font-size: 2em;
    color: white;
}
.therm a {
    color: white;
}

.sensors-checkboxes-group {
    margin-top: 40px;
}

.input-checkbox
{
    width: auto;
    box-shadow: none;
}

.label-background
{
    background-color: lightblue;
}

.w-maxcontent
{
    width: max-content;
}