@model ObserverViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Создать</h1>

<h4>Наблюдатель</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="sensors-checkboxes-group">
                @{
                    int i = 0;
                }
                <div class="form-group">
                    <div class="row">
                        <label class="form-label col-11">Все</label>
                        <input class="input-checkbox col-1" type="checkbox" id="checkAll"/>
                    </div>
                </div>
                @foreach (var sensor in ViewBag.Sensors)
                {
                    <div class="form-group">
                        <div class="row">
                            <label class="form-label col-11">@sensor.Name</label>
                            <input class="input-checkbox col-1 sensor-checkbox" type="checkbox" name="Sensors[@i]" value="@sensor.Id"/>
                        </div>
                    </div>
                    {
                        i++;
                    }
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts
{
    <script src="~/js/create.js" asp-append-version="true"></script>
}