@model IEnumerable<SensorHistoryViewModel>
@{
    ViewData["Title"] = "История";
}

<h1>History</h1>
<div class="chart-container">
    <canvas id="chart" height="630" width="1000"></canvas>
</div>
<script>
    var modelJson = @Json.Serialize(Model);
</script>

@section Scripts {
    <script src="~/lib/chart/dist/chart.min.js"></script>
    <script src="~/js/history.js" asp-append-version="true"></script>
}