@model IEnumerable<SensorHistoryViewModel>
@{
    ViewData["Title"] = "HIstory";
}

<h1>History</h1>
<canvas id="chart" height="400" width="500"></canvas>

@section Scripts {
    <script src="~/lib/chart/dist~/lib/chart/dist/chart.min.js"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
}