@model IEnumerable<ValueViewModel>
@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="list-group">
    @foreach (var value in Model)
    {
        <div class="list-group-item therm-li">
            <div class="therm">
                <div class="row">
                    <div class="col-2">
                        <div><b><span class="temp-value">@value.Temperature</span>°</b></div>
                    </div>
                    <div class="col-10">
                        <div class="therm-name"><a asp-controller="Home" asp-action="History" asp-route-id="@value.SensorId">@value.SensorName</a></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    var thresholds = @Json.Serialize(Model.Select(m => m.Thresholds));
</script>

@section Scripts {
<script src="~/js/brightness.js" asp-append-version="true"></script>
<script src="~/js/index.js" asp-append-version="true"></script>
}