@model IEnumerable<MeasurementViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var measurement in Model)
{
    <div class="row">
        <div class="col-4">
            <div class="therm">@measurement.Temperature</div>
        </div>
        <div class="col-8">
            <div class="therm-name">@measurement.SensorName</div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/index.js" asp-append-version="true"></script>
}